services:
  - type: web
    name: n8n-docker
    env: docker
    plan: free
    region: frankfurt
    dockerfilePath: ./Dockerfile
    envVars:
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "true"
      - key: N8N_BASIC_AUTH_USER
        value: "admin"
      - key: N8N_BASIC_AUTH_PASSWORD
        value: "6JFiPRYSu3K8Mi"
      - key: N8N_HOST
        value: n8n-docker.onrender.com
      - key: WEBHOOK_TUNNEL_URL
        value: https://n8n-docker.onrender.com
      - key: N8N_PROTOCOL
        value: https
      - key: N8N_EDITOR_BASE_URL
        value: https://n8n-docker.onrender.com
      - key: N8N_ENCRYPTION_KEY
        generateValue: true
  - key: DB_TYPE
    value: postgresdb
  - key: DB_POSTGRESDB_HOST
    value: njhordonllmhjxogiwfq.supabase.co
  - key: DB_POSTGRESDB_PORT
    value: 5432
  - key: DB_POSTGRESDB_DATABASE
    value: postgres
  - key: DB_POSTGRESDB_USER
    value: postgres
  - key: DB_POSTGRESDB_PASSWORD
    value: 6JFiPRYSu3K8Mi


